body{
  overflow: hidden;
}


@font-face {
    font-family: "domo";
    src: url('../font/master_of_break.ttf');
}

@font-face {
    font-family: "bebas";
    src: url('../font/BEBAS___.TTF');
}

@font-face {
    font-family: "comic";
    src: url('../font/SpaceComics.ttf');
}

@font-face {
    font-family: "happy";
    src: url('../font/KGHAPPY.ttf');
}

@font-face {
    font-family: "cand";
    src: url('../font/jcandlestickacad.ttf');
}

@font-face {
    font-family: "pacifico";
    src: url('../font/Pacifico.ttf');
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,600);

::selection{
  background-color: #0386c9;
  color: white;
}

::-moz-selection {
  background-color: #0386c9;
  color: white;
}

.nav-wrapper {
  background-color: #0386c9;
  border-bottom: 5px solid #dbd9d9;
}

.brand-logo{
  font-family: "pacifico", Helvetica, Arial, sans-serif;
  margin-left: 1%;
  color: white;
}

a{
  font-family: "happy", Helvetica, Arial, sans-serif;
}

#test{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #e8e8e8;
}

.marge{
  width: 50%;
  font-family: "bebas", Helvetica, Arial, sans-serif;
}

.titre{
  font-family: "pacifico", Helvetica, Arial, sans-serif;
  color: #0386c9;
  text-align: center;
    font-size: 2vw;
    padding: 2%;
}

.input-field{
  color: #bfbfbf !important;
  font-size: 1em !important;
  padding-bottom: 4vh;
  margin: 0 auto;
  width: 40vw;
}

.select-dropdown{
  border-bottom: 3px solid #dbd9d9 !important;
}

span{
  color: #0386c9 !important;
}

.blanc {
  background-color: white;
}

#headerMrS img, #headerMrS2 img{
  height: 30vh;
  width: 21vh;
  -moz-box-shadow: 0px 30px 80px 0px #2f2f2f;
  -webkit-box-shadow: 0px 30px 80px 0px #2f2f2f;
  -o-box-shadow: 0px 30px 80px 0px #2f2f2f;
  box-shadow: 0px 30px 80px 0px #2f2f2f;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#2f2f2f, Direction=180, Strength=80);
}

.header {
  position: fixed;
  bottom: 0px;
  padding-top: auto;
  text-align: center;
  font-family: "pacifico", Helvetica, Arial, sans-serif;
  font-size: 3vh;
  color: #0386c9;
}

.sorties{
  left: 60%;
  margin-left: -10.5vh;
  height: auto;
}

.ensalle{
  left: 40%;
  margin-left: -10.5vh;
}

.alpha{
  z-index: 1;
  position: absolute;
  bottom: -30px;
  right: 0px;
}

.alpha img{
  width: 100px;
}

#aide{
  z-index: 30;
  position: fixed;
  bottom: 1%;
  left: 1%;
}

@media screen and (max-width: 1000px) {
  .titre{
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .headerMrS2, .ensalle, .faded2, .faded, .headerMrS2 .sorties{
    display: none;
  }
}
