body{
  overflow: hidden;
}


@font-face {
    font-family: "domo";
    src: url('../font/master_of_break.ttf');
}

@font-face {
    font-family: "bebas";
    src: url('../font/BEBAS___.TTF');
}

@font-face {
    font-family: "comic";
    src: url('../font/SpaceComics.ttf');
}

@font-face {
    font-family: "happy";
    src: url('../font/KGHAPPY.ttf');
}

@font-face {
    font-family: "cand";
    src: url('../font/jcandlestickacad.ttf');
}

@font-face {
    font-family: "picifico";
    src: url('../font/pacifico.ttf');
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,600);

::selection{
  background-color: #0386c9;
  color: white;
}

::-moz-selection {
  background-color: #0386c9;
  color: white;
}

.nav-wrapper {
  background-color: #0386c9;
}

.brand-logo{
  font-family: "pacifico", Helvetica, Arial, sans-serif;
  margin-left: 1%;
  color: white;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.video-controls {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

a{
  font-family: "happy", Helvetica, Arial, sans-serif;
}

#test{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #e8e8e8;
  margin:auto;
}

#commencer{
  display: none;
}

.marge{
  margin-left: 2%;
  width: 50%;
  font-family: "bebas", Helvetica, Arial, sans-serif;
  margin-top: 3%;
}

.titre{
  font-family: "pacifico", Helvetica, Arial, sans-serif;
  color: #0386c9;
  text-align: center;
    font-size: 2vw;
    padding: 2%;
}

.input-field{
  color: #c7c7c7 !important;
  font-size: 1em !important;
  padding-bottom: 4vh;
  margin: 0 auto;

}

.blanc {
  background-color: white;
}

p{
  margin-left: 3vh;
}
@media screen and (max-width: 1000px) {
  .titre{
    font-size: 20px;
  }
}
